# Tutorial - Hands on Python Insigna 2K19, SDMCET

## Dictionaries

Dictionaries are more used like a database because here you can index a particular sequence with your user defined string.

To define a dictionary, equate a variable to { } or dict()

In [30]:
d0 = {}
d1 = dict()
print type(d0), type(d1)

<type 'dict'> <type 'dict'>

Dictionary works somewhat like a list but with an added capability of assigning it's own index style.

In [31]:
d0['One'] = 1
d0['OneTwo'] = 12 
print d0

{'OneTwo': 12, 'One': 1}

That is how a dictionary looks like. Now you are able to access '1' by the index value set at 'One'

In [32]:
print d0['One']

1

Two lists which are related can be merged to form a dictionary.

In [33]:
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

**zip( )** function is used to combine two lists

In [34]:
d2 = zip(names,numbers)
print d2

[('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', 5)]

The two lists are combined to form a single list and each elements are clubbed with their respective elements from the other list inside a tuple. Tuples because that is what is assigned and the value should not change.

Further, To convert the above into a dictionary. **dict( )** function is used.

In [35]:
a1 = dict(d2)
print a1

{'Four': 4, 'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}

###Built-in Functions

**clear( )** function is used to erase the entire database that was created.

In [36]:
a1.clear()
print a1

{}

Dictionary can also be built using loops.

In [37]:
for i in range(len(names)):
    a1[names[i]] = numbers[i]
print a1

{'Four': 4, 'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}

**values( )** function returns a list with all the assigned values in the dictionary.

In [38]:
a1.values()

[4, 5, 3, 2, 1]

**keys( )** function returns all the index or the keys to which contains the values that it was assigned to.

In [39]:
a1.keys()

['Four', 'Five', 'Three', 'Two', 'One']

**items( )** is returns a list containing both the list but each element in the dictionary is inside a tuple. This is same as the result that was obtained when zip function was used.

In [40]:
a1.items()

[('Four', 4), ('Five', 5), ('Three', 3), ('Two', 2), ('One', 1)]

**pop( )** function is used to get the remove that particular element and this removed element can be assigned to a new variable. But remember only the value is stored and not the key. Because the is just a index value.

In [41]:
a2 = a1.pop('Four')
print a1
print a2

{'Five': 5, 'Three': 3, 'Two': 2, 'One': 1}
4