# Tutorial - Hands on Python Insigna 2K19, SDMCET

## Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [64]:
set1 = set()
print type(set1)

<type 'set'>

In [65]:
set0 = set([1,2,2,3,3,4])
print set0

set([1, 2, 3, 4])

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

### Built-in Functions

In [66]:
set1 = set([1,2,3])

In [67]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [68]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [69]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [70]:
set1.intersection(set2)

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [71]:
set1.difference(set2)

{0, 1}

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [72]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [73]:
set1.issubset(set2)

False

In [74]:
set2.isdisjoint(set1)

False

In [75]:
set2.issuperset(set1)

False

**pop( )** is used to remove an arbitrary element in the set

In [76]:
set1.pop()
print set1

set([1, 2, 3])

**remove( )** function deletes the specified element from the set.

In [77]:
set1.remove(2)
set1

{1, 3}

**clear( )** is used to clear all the elements and make that set an empty set.

In [78]:
set1.clear()
set1

set()